.search__input {
    padding-left: 24px;
    width: 608px;
    height: 64px;
    background: #FFFFFF;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    border-radius: 100px;
}

@media all and (min-width : 1000px) and (max-width: 1439px) {
    .search__input {
        padding-left: 20px;
        width: 500px;
        height: 60px;
    }
}

@media all and (min-width : 768px) and (max-width: 999px) {
    .search__input {
        padding-left: 24px;
        width: 385px;
        height: 56px;
    }
}

@media all and (min-width : 500px) and (max-width: 767px) {
    .search__input {
        padding-left: 16px;
        width: 325px;
        height: 56px;
    }
}

@media all and (min-width : 320px) and (max-width: 499px) {
    .search__input {
        padding-left: 16px;
        width: 285px;
        height: 56px;
    }
}