.search__error {
    display: block;
    max-width: 270px;
    margin-top: 10px;
    box-sizing: border-box;
    padding-left: 24px;
    background: #FFFFFF;
    border: none;
    border-radius: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FF0000;
}

@media all and (min-width : 1000px) and (max-width: 1439px) {
    .search__error {
        padding-left: 20px;
    }
}

@media all and (min-width : 768px) and (max-width: 999px) {
    .search__error {
        max-width: 385px;
    }
}

@media all and (min-width : 500px) and (max-width: 767px) {
    .search__error {
        max-width: 325px;
        padding-left: 16px;
    }
}

@media all and (min-width : 320px) and (max-width: 499px) {
    .search__error {
        max-width: 285px;
        padding-left: 16px;
    }
}