@import url('./__analytics/results__analytics.css');
@import url('./__card-container/results__card-container.css');
@import url('./__card-date/results__card-date.css');
@import url('./__card-description/results__card-description.css');
@import url('./__card-pic/results__card-pic.css');
@import url('./__card-portal/results__card-portal.css');
@import url('./__card-text/results__card-text.css');
@import url('./__card-title/results__card-title.css');
@import url('./__card/results__card.css');
@import url('./__show-more/results__show-more.css');
@import url('./__show-more_active/results__show-more_active.css');
@import url('./__title-container/results__title-container.css');
@import url('./__title/results__title.css');
@import url('./__preloader-comment/results__preloader-comment.css');
@import url('./__preloader-spinner/results__preloader-spinner.css');
@import url('./__preloader/results__preloader.css');
@import url('./__preloader_active/results__preloader_active.css');
@import url('./__error-comment/results__error-comment.css');
@import url('./__error-pic/results__error-pic.css');
@import url('./__error-title/results__error-title.css');
@import url('./__error/results__error.css');
@import url('./__error_active/results__error_active.css');
@import url('./__title-container_active/results__title-container_active.css');
@import url('./__card-container_active/results__card-container_active.css');

.results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background: #F5F6F7;
}