.results__show-more_active {
    display: block;
    width: 288px;
    height: 64px;
    margin-bottom: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    background: #FFFFFF;
    border-radius: 80px;
    border: none;
}

.results__show-more_active:hover {
    background: #F5F6F7;
}

@media all and (min-width : 1000px) and (max-width: 1439px) {
    .results__show-more_active {
        width: 288px;
        height: 64px;
        margin-bottom: 60px;
    }
}

@media all and (min-width : 768px) and (max-width: 999px) {
    .results__show-more_active {
        width: 240px;
        height: 56px;
        margin-bottom: 40px;
    }
}

@media all and (min-width : 320px) and (max-width: 767px) {
    .results__show-more_active {
        width: 288px;
        height: 56px;
        margin-bottom: 44px;
    }
}