.results__card-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 304px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-top: 20px;
    padding-bottom: 24px;
    background: #FFFFFF;
}

@media all and (min-width : 1000px) and (max-width: 1439px) {
    .results__card-description {
        width: 315px;
        height: 270px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

@media all and (min-width : 768px) and (max-width: 999px) {
    .results__card-description {
        width: 224px;
        height: 270px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

@media all and (min-width : 320px) and (max-width: 767px) {
    .results__card-description {
        width: 288px;
        height: 247px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}