.commits__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 104px;
    padding-right: 104px;
    box-sizing: border-box;
}

@media all and (min-width : 1000px) and (max-width: 1439px) {
    .commits__container {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media all and (min-width : 768px) and (max-width: 999px) {
    .commits__container {
        padding-left: 0px;
        padding-right: 66px;
    }
}

@media all and (min-width : 500px) and (max-width: 767px) {
    .commits__container {
        padding-left: 0px;
    }
}

@media all and (min-width : 320px) and (max-width: 499px) {
    .commits__container {
        padding-left: 0px;
    }
}