.results__card-pic {
    width: 400px;
    height: 272px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

@media all and (min-width : 1000px) and (max-width: 1439px) {
    .results__card-pic {
        width: 315px;
        height: 150px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

@media all and (min-width : 768px) and (max-width: 999px) {
    .results__card-pic {
        width: 224px;
        height: 150px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

@media all and (min-width : 320px) and (max-width: 767px) {
    .results__card-pic {
        width: 288px;
        height: 196px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}