@import url('./__comment/error__comment.css');
@import url('./__pic/error__pic.css');
@import url('./__title/error__title.css');

.error {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    max-height: 374px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 86px;
    padding-bottom: 80px;
    background: #F5F6F7;
}