.commits__name {
    max-width: 300px;
    margin-top: 0px;
    margin-bottom: 2px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
}

@media all and (min-width : 320px) and (max-width: 767px) {
    .commits__name {
        max-width: 200px;
        font-size: 20px;
    }
}