.tech__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 570px;
}

@media all and (min-width : 768px) and (max-width: 1439px) {
    .tech__container {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 49px;
        width: 643px;
    }
}

@media all and (min-width : 320px) and (max-width: 767px) {
    .tech__container {
        max-width: 244px;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
    }
}