.results__title-container_active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 104px;
    padding-right: 104px;
    box-sizing: border-box;
}

@media all and (min-width : 1000px) and (max-width: 1439px) {
    .results__title-container_active {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media all and (min-width : 768px) and (max-width: 999px) {
    .results__title-container_active {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media all and (min-width : 500px) and (max-width: 767px) {
    .results__title-container_active {
        flex-direction: column;
        padding-left: 30px;
        padding-right: 0px;
    }
}

@media all and (min-width : 320px) and (max-width: 499px) {
    .results__title-container_active {
        flex-direction: column;
        padding-left: 16px;
        padding-right: 0px;
    }
}