.histogram__column-ref-number {
    max-width: 178px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 27px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}
