.histogram__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1128px;
    height: 100%;
}

@media all and (min-width : 1000px) and (max-width: 1439px) {
    .histogram__column {
        width: 790px;
    }
}

@media all and (min-width : 768px) and (max-width: 999px) {
    .histogram__column {
        width: 575px;
    }
}

@media all and (min-width : 500px) and (max-width: 767px) {
    .histogram__column {
        width: 400px;
    }
}

@media all and (min-width : 320px) and (max-width: 499px) {
    .histogram__column {
        width: 208px;
    }
}