.results__preloader-comment {
    margin-top: 24px;
    margin-bottom: 0px;
    max-width: 280px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
}