.results__card {
    width: 400;
    border-radius: 16px;
}

.results__card:hover {
    box-shadow: 0px 24px 58px -24px rgba(8, 29, 45, 0.1);
}

@media all and (min-width : 1000px) and (max-width: 1439px) {
    .results__card {
        width: 315px;
        border-radius: 8px;
    }
}

@media all and (min-width : 768px) and (max-width: 999px) {
    .results__card {
        width: 224px;
        border-radius: 8px;
    }
}

@media all and (min-width : 320px) and (max-width: 767px) {
    .results__card {
        width: 288px;
        border-radius: 8px;
    }
}